$color: #2c3e50;
$border-color: #d1d3d6;
$duration: .3s;
$theme-color: #4aae5b;

* {margin: 0; padding: 0; box-sizing: border-box;}

a {text-decoration: none; color: $color}

[v-cloak] {display: none}

.wrapper {
  color: $color;

  .navbar {
    padding: 10px 40px;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: white;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;

    .miro-icon {display: none;}
    .miro-icon, .site-name {
      font-size: 1.5em;
    }

  }
  .sidebar {
    border-right: 1px solid $border-color;
    margin-top: 60px;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    background: white;
    transition: all $duration;

    .sidebar-part {
      margin-top: 20px;
      padding-top: 0.1px;

      .sidebar-part-item {
        margin-top: 20px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .miro-collapse {
      margin-top: 20px;
      border: none;
      .miro-collapse-title {
        border: none;
        width: 100%;
        padding-left: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 600;

        .collapse-button {
          display: flex;
          align-items: center;
          .miro-icon {
            font-size: 12px;
            margin-left: 5px;
          }
        }
      }
    }

    .sidebar-list {margin-top: 10px;}

    .sidebar-list > li {
      transition: all $duration;
      padding: 5px 40px;
      cursor: pointer;

      &:hover {color: $theme-color;}
    }

    .active {
      border-left: 4px solid $theme-color;
      font-weight: 600;
      color: $theme-color;
    }
  }

  .page {
    padding-left: 300px; transition: all $duration;

    .page-content {
      padding: 2.5em;
      max-width: 800px;
      margin: 0 auto;
    }

    .page-nav {
      height: 100px;
      border-top: 1px solid $border-color;
      text-align: center;

      .inner {
        //border: 1px solid black;
        width: 90%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;

        > span {
          color: $theme-color;
          font-weight: 600;
          //border: 1px solid black;
          cursor: pointer;
        }
      }
    }

    @media (max-width: 959px) {
      .page-content {
        padding: 2em;
      }
    }
  }
}

@media (max-width: 720px) {

  .wrapper.toggle {
    .sidebar {transform: translateX(-100%);transition: all $duration;}
  }
  .wrapper .page {padding-left: 0; transition: all $duration;}
  .wrapper .navbar .miro-icon {
    display: block;
    margin-right: .5em;
    cursor: pointer;
    color: $theme-color;
  }
}






