$color: #2c3e50;
$border-color: #EAECEF;
$duration: .3s;

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: $color}
[v-cloak]{display: none}


.wrapper {
  color: $color;
  height: 100vh;

  .navbar {
    padding: 10px 40px;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: white;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;

    .miro-icon{display: none;}
    .miro-icon, .site-name {
      font-size: 1.5em;
    }

  }
  .sidebar {
    border-right: 1px solid $border-color;
    margin-top: 60px;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    transition: all $duration;

    .sidebar-list {
      margin-top: 50px;
    }

    .sidebar-list > li {
      transition: all $duration;
      padding: 5px 40px;
      cursor: pointer;

      &:hover {
        color: #36b669;
      }

      &.active {
        border-left: 4px solid #36b669;
        font-weight: 600;
        color: #36b669;
      }

    }
  }

  .page {padding-left: 300px; transition: all $duration;}
}

@media (max-width: 720px) {

  .wrapper.toggle {

    .sidebar {
      transform: translateX(-100%);
      transition: all $duration;
    }
    .page {padding-left: 0; transition: all $duration;}

  }
  .wrapper .navbar .miro-icon {
    display: block;
    margin-right: .5em;
    cursor: pointer;
  }
}






